$base-font: "pf_square_sans_proregular", "Arial", sans-serif;
$base-font-bold: "pf_square_sans_probold", "Arial", sans-serif;
$base-font-bold-italic: "pf_square_sans_probold_italic", "Arial", sans-serif;

$base-color: #1edb98;
$gray: #f7f7f7;
