---
title: Блог
lang: ru
---
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

<section class="blog">
  <div class="blog__wrapper">
    <h1 class="blog__title">Блог</h1>
    <ul class="blog__list">
      {% for items in range(0, 5) -%}
      <li class="blog__item">
        <article class="blog__article-preview">
          <h2><a href="post.html">Get Coach: маркетплейс для тренеров или уберизация индустрии фитнеса и здорового
              образа жизни</a></h2>

          <p>Вводная часть цикла статей — как создавалось бесплатное приложение для тренеров и атлетов. Предполагается,
            что сервис решит проблему поиска тренера для атлетов, которые хотят тренироваться онлайн или в зале. А для
            тренеров создаст дополнительный канал получения клиентов без особых усилий, а также снизит расходы на
            раскрутку и продвижение.
          </p>
          <a class="blog__read-more" href="post.html">Читать полностью</a>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog__article-preview">
          <h2><a href="post.html">Занятия дома или в зале с тренером. Готов ли фитнес уйти в онлайн</a></h2>

          <p>В период локдауна фитнес-индустрия понесла внушительные потери, но смогла выйти из непростой ситуации. РБК
            вместе с экспертами разбирался, как восстанавливался рынок фитнес-услуг, и способен ли онлайн-фитнес
            конкурировать с занятиями в зале
          </p>
          <a class="blog__read-more" href="post.html">Читать полностью</a>
        </article>
      </li>
      {%- endfor %}
    </ul>

  </div>
</section>

{% endblock %}
