---
title: Текстовая страница
lang: ru
---
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

<div class="blog">
  <div class="blog__wrapper">
    <article class="blog__article">
      <h1>Get Coach: маркетплейс для тренеров или уберизация индустрии фитнеса и здорового
        образа жизни</h1>

      <p>Вводная часть цикла статей — как создавалось бесплатное приложение для тренеров и атлетов. Предполагается, что
        сервис решит проблему поиска тренера для атлетов, которые хотят тренироваться онлайн или в зале. А для тренеров
        создаст дополнительный канал получения клиентов без особых усилий, а также снизит расходы на раскрутку и
        продвижение.</p>
      <div class="blog__article-banner">
        <img src="https://leonardo.osnova.io/ec4f273e-ae91-5a0d-87ae-de9b65330f12/-/preview/2100/-/format/webp/" alt="">
      </div>

      <h2>Как работает приложение</h2>
      <p>Get Coach / «Гет Коуч» — сервис подбора персонального тренера, содержащий полный набор инструментов для
        организации
        онлайн-тренировок, а также ведения всего тренировочного процесса.</p>

      <img src="https://leonardo.osnova.io/02ff0e26-1e92-5823-a6b0-1fc3e82c0fd7/-/preview/1300/-/format/webp/" alt="">

      <p>На текущий момент в приложении доступны чуть больше 20 видов спорта и 9 сервисов (начиная от программ
        тренировок и
        питания, заканчивая полным сопровождением и видео-тренировками). Теперь заказать услугу у персонального тренера
        проще чем вызвать такси, для этого вам необходимо создать новую заявку, указать основные пожелания к услуге и
        тренеру, а приложение само подберет наиболее подходящих кандидатов. Каждый из них настоящий профессионал с
        проверенной квалификацией. Кроме того, можно обратиться в клиентскую службу приложения для подбора тренера по
        специфическим параметрам.</p>

      <p>Get Coach полностью контролирует весь процесс взаимодействия клиента с тренером и замораживает деньги у себя до
        тех
        пор, пока услуга не будет оказана.</p>

      <p>В приложении разработан единый интерфейс для разработки программ питания и тренировок, а также отслеживания
        тренировочного процесса и отчетности для тренера, что позволит полностью контролировать тренировку и отслеживать
        результаты, а тренер будет мониторить изменения и корректировать занятия атлета. Помимо этого специалисты Get
        Coach
        берут на себя все организационные моменты, которые возникают при использовании приложения: организовывают
        видео-тренировки и консультации, записывают и передают атлетам видео онлайн-тренировок, разрешают любые спорные
        ситуации и возвращают деньги если что-то пошло не так.</p>

      <p>Для того, чтобы вы могли уже сейчас начать тренироваться, для всех атлетов после заполнения профиля подготовлен
        бонус от звездного тренера Get Coach, заслуженного мастера спорта РФ – уже добавленные в приложение программы
        питания и тренировок, которые позволят сразу приступить к полноценным тренировкам и оценить удобство приложения,
        а
        потом уже заказать индивидуальные тренировочные планы у тренеров.</p>

      <img src="https://leonardo.osnova.io/3e7368b4-0d16-527a-9568-f9ca25e73a9a/-/preview/1300/-/format/webp/" alt="">

      <h2>Используемые технологии</h2>

      <p>Приложение написано для операционных систем Android и iOS и адаптировано под мобильные телефоны (веб-модуль для
        тренеров в разработке =)). Дополнительно сервис использует Telegram и Whatsapp для технической поддержки и
        клиентской службы, а также Google Meet и Яндекс.Телемост для организации видеозвонков.</p>

      <h2>Результаты сервиса на сейчас</h2>

      <p>Запуск приложения состоялся буквально недавно и сейчас в Get Coach более 250 тренеров по 20+ направлениям,
        включая
        йогу, фитнес, растяжку, единоборства, кроссфит и т.д. Любой желающий тренер может зарегистрироваться и получить
        бесплатную учетную запись с возможностью ведения до трёх клиентов. Команда верифицирует тренеров, проводя
        тестирование их знаний, а также проверяет все документы о соответствующем образовании и квалификации.</p>
    </article>
  </div>
</div>



{% endblock %}
