---
title: Текстовая страница
lang: ru
---
{% extends "../templates/layouts/_layout.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    <article class="textpage__article">
      <h2>Заголовок текстовой страницы</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error adipisci accusamus et vitae optio quis nisi,
        fuga
        dolorem nam dicta iure, ex repudiandae sint voluptatum necessitatibus excepturi! Deserunt, eius nihil.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, velit repellat neque assumenda, pariatur
        voluptatum, laboriosam rerum fugit dolores et suscipit itaque vel autem incidunt est necessitatibus eum ex. <a
          href="#">Nulla!</a></p>
    </article>
  </div>
</section>

{% endblock %}
