.advantages {
  margin-top: -134px;

  @media (max-width: 700px) {
    margin-top: 0;
  }

  &--white {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;

    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }

  &--corp {
    margin-top: 0;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: -183px;

    // + .advantages--corp {
    //   margin-top: 80px;
    // }

    .advantages__wrapper {
      padding-top: 0;
      background-image: none;
    }

    .advantages__article {
      &--right {
        margin-top: 0;
        padding-left: 53.5%;
        padding-right: 5%;
        background-image: none;

        @media (max-width: 1023px) {
          padding-left: 0;
        }

        h2 {
          margin-bottom: 45px;
          font-size: 36px;
          line-height: 1.2;

          @media (max-width: 1023px) {
            padding-left: 0;
            font-size: 30px;
          }
        }

        .advantages__text {
          li {
            &::before {
              background-color: #ede500;
            }

            @media (max-width: 1023px) {
              font-size: 20px;
              margin-bottom: 20px;
              padding-top: 3px;
            }
          }
        }
      }

      &--left {
        margin-top: 0;
        background-position-x: right;
        background-position-y: 103px;

        @media (max-width: 1023px) {
          width: 100%;

          li {
            font-size: 16px;
          }
        }

        h2 {
          padding-left: 35px;
          line-height: 1.2;

          @media (max-width: 1023px) {
            padding-left: 0;
          }
        }

        @media (max-width: 767px) {
          padding-bottom: 150px;
          background-position-y: bottom;
        }
      }

      .advantages__text {
        ul {
          padding-left: 3px;
        }

        li {
          margin-bottom: 40px;
          padding-left: 33px;
          font-size: 28px;

          &:last-child {
            margin-bottom: 0;
          }

          @media (max-width: 1023px) {
            font-size: 20px;
            margin-bottom: 20px;
            padding-top: 3px;
            padding-right: 20%;
          }
        }
      }
    }

    @media (max-width: 767px) {
      background-position-y: bottom;
    }
  }

  &--access {
    padding-top: 120px;
    padding-bottom: 100px;
    background-position-y: 93px;

    @media (max-width: 1023px) {
      background-size: 50%;
      background-position-x: right;
    }

    .advantages__article {
      &--right {
        margin-top: 0;
        padding-left: 53.5%;
        padding-right: 5%;
        background-image: none;

        @media (max-width: 1023px) {
          padding-left: 0;
        }

        h2 {
          margin-bottom: 30px;
          font-size: 44px;
          line-height: 1.2;

          @media (max-width: 1023px) {
            padding-left: 0;
          }
        }

        .advantages__text {
          ul {
            padding-left: 0;
          }

          li {
            position: relative;
            margin-bottom: 40px;
            padding-left: 23px;
            font-size: 28px;

            &::before {
              content: "";
              position: absolute;
              top: 16px;
              left: -6px;
              display: block;
              width: 18px;
              height: 4px;
              border-radius: 2px;
              background-color: $base-color;
            }

            &::after {
              content: "";
              position: absolute;
              top: 9px;
              left: 1px;
              display: block;
              width: 4px;
              height: 18px;
              border-radius: 2px;
              background-color: $base-color;
            }

            @media (max-width: 1023px) {
              font-size: 20px;
              margin-bottom: 20px;
              padding-top: 3px;
            }
          }
        }

        @media (max-width: 767px) {
          padding-bottom: 50px;
        }
      }
    }

    @media (max-width: 767px) {
      padding-bottom: 50px;
      background-position-y: 30px;
    }
  }
}

.advantages__wrapper {
  @include wrapper;
  padding-top: 45.8%;
  background-image: url("../img/advantages-bg.png");
  background-repeat: no-repeat;
  background-size: 97%;
  background-position: center 0;

  @media (max-width: 1023px) {
    padding-top: 53%;
  }

  @media (max-width: 700px) {
    padding-top: 70%;
  }
}

.advantages__article {
  position: relative;

  &--right {
    padding-left: 49.5%;
    padding-bottom: 127px;
    background-image: url("../img/app-screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 74px;

    @media (max-width: 1439px) {
      background-size: 400px;
    }

    @media (max-width: 1023px) {
      background-size: 200px;
      background-position-y: top;
      padding-left: 40%;
    }

    @media (max-width: 767px) {
      background-image: none;
      padding-left: 0;
    }

    .advantages__text {
      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 14px;
          left: -2px;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $base-color;
        }
      }
    }
  }

  &--left {
    margin-top: -62px;
    padding-right: 50%;
    padding-top: 143px;
    padding-bottom: 30px;
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position-x: 134%;
    background-position-y: -18px;

    @media (max-width: 1439px) {
      argin-top: 0;
      padding-right: 50%;
      padding-top: 0px;
      padding-bottom: 30px;
      background-image: url(../img/man.png);
      background-repeat: no-repeat;
      background-position-x: 85%;
      background-position-y: 0;
      background-size: 400px;
    }

    @media (max-width: 1023px) {
      background-size: 200px;
      background-position-y: center;
      padding-right: 40%;
    }

    @media (max-width: 767px) {
      background-image: none;
      padding-right: 0;
    }

    .advantages__text {
      li {
        position: relative;
        margin-bottom: 10px;

        &::before {
          content: "";
          position: absolute;
          top: 16px;
          left: -2px;
          display: block;
          width: 18px;
          height: 4px;
          border-radius: 2px;
          background-color: $base-color;
        }

        &::after {
          content: "";
          position: absolute;
          top: 9px;
          left: 5px;
          display: block;
          width: 4px;
          height: 18px;
          border-radius: 2px;
          background-color: $base-color;
        }
      }
    }
  }
}

.advantages__text {
  h2 {
    margin: 0;
    margin-bottom: 26px;
    padding-left: 25px;
    font-size: 44px;
    font-family: $base-font-bold-italic;
    font-style: italic;

    span {
      color: $base-color;
    }

    @media (max-width: 1439px) {
      font-size: 30px;
    }
  }

  ul {
    @include list-reset;

    li {
      padding-left: 25px;
      font-size: 24px;
      line-height: 40px;

      @media (max-width: 1439px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.advantages__main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 57px;
  line-height: 1.2;
  font-family: $base-font-bold;
  text-transform: uppercase;
  text-align: center;

  span {
    color: $base-color;
  }

  @media (max-width: 1023px) {
    font-size: 34px;
  }
}

.advantages__learn-more {
  display: flex;
  justify-content: center;
  max-width: 520px;
  margin: 0 auto;
  min-width: 305px;
  padding: 13px 35px;
  text-align: center;
  color: #fff;
  font-family: $base-font-bold;
  font-size: 30px;
  text-transform: uppercase;
  background-color: $base-color;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: darken($base-color, 5%);
  }

  @media (max-width: 767px) {
    font-size: 20px;
  }
}
