.download {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 660px;
  margin-left: 25px;
  margin-top: 66px;
  padding: 13px 15px 11px 25px;
  color: #fff;
  background-color: $base-color;
  border-radius: 10px;

  @media (max-width: 767px) {
    justify-content: center;
  }

  h2 {
    margin: 0;
    margin-right: 70px;
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
    font-family: $base-font-bold-italic;
    font-style: italic;
  }

  @media (max-width: 767px) {
    margin-left: 0;

    h2 {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

.download__list {
  @include list-reset;
  display: flex;
}

.download__item {
  padding: 0;
  margin-bottom: 0;
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }

  img {
    width: auto;
  }
}
