.page {
  height: 100%;
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: $base-font;
  font-size: 18px;
  line-height: 1.4;
  background-color: $gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.page__main {
  flex-grow: 1;
}
